// Background gradient keyframes

@keyframes backgroundGradientAnimation {
	0% {
		background-position: 0% 62%;
	}
	50% {
		background-position: 100% 39%;
	}
	100% {
		background-position: 0% 62%;
	}
}

// Global reset

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: none;
	border: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: $font-roboto;
	font-weight: $font-regular;
	font-size: $font-size-base;
	background: linear-gradient(
		277deg,
		$gradient-one,
		$gradient-two,
		$gradient-three,
		$gradient-four,
		$gradient-five,
		$gradient-six,
		$gradient-seven
	);
	background-size: 1400% 1400%;

	animation: backgroundGradientAnimation 11s ease infinite;
}
